#player {
    margin-bottom: 20px;
}

body .demo-detail .code-example {
    margin-top: 0;
}

li span {
    font-size: 18px;
}

a {
    font-size: 18px;
}

@media (min-width: 1200px) {
    .player-col {
        float: left;
    }

    .code-col {
        float: right;
    }
}
