
li{
    font-weight:bold;
}

@media (min-width: 1200px) {
    .player-col {
        float: left;
    }

    .code-col {
        float: right;
    }
}

#control-log {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
}