#player {
    margin-bottom: 20px;
}

.imgContainer {
    text-align: center;
}

.server-ads-demo img {
    width: 100%;
}

body .demo-detail .code-example {
    margin-top: 0;
}

@media (max-width: 1200px) {
    .lgImg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .player-col {
        float: left;
    }

    .code-col {
        float: right;
    }

    .smImg {
        display: none;
    }
}

#player .bitmovinplayer-poster {
    background-color: white;
}

#blocker-wrapper {
    display: none;
}

#blocker-info {
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.8rem;
    background-color: #c8f7d0;
    border-radius: 4px;
}
