@media (min-width: 1200px) {
  .player-col {
    float: left;
  }

  .code-col {
    float: right;
  }
}

@media (min-width: 991px) {
  .text-with-code p {
    margin-top: 20px;
  }
}

.ui-rewind-fast-forward-demo .buildui-code {
  display: none;
}
