@media (max-width: 991px) {
    .sdk-wrapper-body {
        flex-direction: column;
    }
}


@media (min-width: 1680px) {
    .demo-row {
        flex-direction: row;
    }
    
    .demo-video {
        width: 52% !important;
        margin-right: 60px;
    }

    .demo-input {
        width: 40% !important;
    }

    .demo-start {
        padding-top: 0px !important;
    }

    .demo-ad-row {
        flex-direction: row !important;
    }
}

@media (min-width: 1200px) and (max-width: 1679px) {
     .demo-row {
        align-items: center;
    }

    .demo-input-box.input {
        width: 48.7% !important;
    }

    .demo-input-box.ad-box {
        width: 25% !important;
    }

    .demo-ad-row {
        flex-direction: row !important;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .demo-ad-row {
        align-items: center;
    }

    .demo-input-box.ad-box {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .demo-ad-row {
        align-items: center;
    }

    .demo-input-box.ad-box {
        width: 100% !important;
    }
}

.stream-control {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0px;
    height: 42px;
    line-height: 20px;
}

body:not(.fullscreen) :not(.no-frame).notebook-frame::before {
    top: 0;
    left: 0;
}

.sdk-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    font-family: "averta", sans-serif;
}

.sdk-wrapper-header {
    display: flex;
    flex-direction: column;
}

.sdk-wrapper-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sdk-item {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
}

.sdk-item-content {
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 8px;
}

.sdk-item-url {
    margin-top: 47px;
}

.sdk-wrapper-title {
    font-size: 20px;
    line-height: 23px;
    align-content: left;
    letter-spacing: -4%;
    fill: #505f79
}

.sdk-wrapper-description {
    margin-top: 8px;
    font-size: 15px;
    line-height: 18px;
    align-content: left;
    fill: #505f79
}

#logContent {
    height: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

.demo-input-box {
    border: solid 1px #CBE0ED;
    border-radius: 4px;
    padding: 15px 20px 10px 20px;
    margin: 7px;
    width: 100%;
}

.demo-input-box > div {
    padding-bottom: 15px;
}

.demo-input-box > input {
    margin-bottom: 10px;
}

.demo-row {
    display: flex;
}

.demo-start {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 7px;
    right: 0px;
    padding-top: 30px;
}

.demo-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    flex-flow: wrap;
}

.demo-stream-type {
    display: flex;
    flex-direction: row;
}

.demo-stream-type-input {
    display: flex;
    flex-direction: row;
    letter-spacing: -0.5px;
}

.demo-stream-type-input > .input-type {
    padding: 0px 0px 5px 10px;
    font-size: 13px;
}

.input-type > input {
    margin-right: 5px;
}

.type-header {
    font-size: 15px;
    padding-right: 50px;
}

#schedule-ad {
    width: 100%;
    justify-content: center;
}

.demo-video {
    width: 100%;
}

.demo-item-header {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: row;
}

.demo-item-header > img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.demo-item-header > div {
    padding-top: 5px;
    flex-grow: 1;
}

.demo-ad-row {
    display: flex;
    flex-direction: column;
}

.demo-input-box.schedule-ad {
    width: 211px;
    height: 20%;
    text-align: center;
}

.demo-input-box.schedule-ad > input {
    width: 100%;
}

.demo-input-box.ad-box {
    width: 26.5%;
}

.demo-input-box.ad-box .type-header {
    padding-right: 0px;
}

.ad-description {
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 10px;
}

.demo-event-box {
    padding: 23px;
    border: solid 1px #CBE0ED;
    border-radius: 4px;
}

.demo-event-box > div {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 23px;
}

.demo-button {
    width: 140px;
    height: 35px;
}

.toggle-button {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 1px #CBE0ED solid;
    background-color: #EEF6F9;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
}

.toggle-button > .toggle-button-indicator {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: white;
    transition: all 250ms ease-in-out;
    margin: 2px;
}

.toggle-button.on {
    background-color: #0eb1ff; 
}

.toggle-button.on .toggle-button-indicator {
    margin-left: 20px;
}

.toggle-button:hover {
    cursor: pointer;
}

.demo-defaults {
    display: flex;
    flex-direction: row;
}

.demo-defaults > .default-text {
    padding-left: 15px;
    font-size: 15px;
}

.error {
    color: red;
    font-weight: bold;
}
