body .vr-demo p {
    font-size: 18px;
}

div.input-hint {
    display: none;
}

@media (min-width: 991px) {
    div.input-hint {
        margin-top: 30px;
        display: block;;
    }

    div.code-column {
        float: right;
    }

    div.info-column {
        float: left;
    }
}

div.code-example {
    width: 95%;
}

h2.description-header {
    margin: 30px 0 20px 0;
}

.player-control {
    margin-top: 20px;
}

.player-control .keyboard-button {
    float: left;
    margin: 0 10px 5px 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #EDEDED;
    border: 1px solid #868484;
    font-weight: bold;
}

.direction {
    float: left;
    line-height: 36px;
}

.first-paragraph {
    margin-top: 15px;
}

body .demo-detail .description {
    margin-top: 10px;
}

@media (min-width: 768px) {
    #player {
        margin-top: 0;
    }

    #player .bitmovinplayer-container > .bmpui-ui-uicontainer {
        position: absolute;
        width: auto;
        height: auto;
        right: 2.5%;
        left: 2.5%;
        top: -4%;
        bottom: 5%;
    }
}

body:not(.fullscreen) :not(.no-frame).phone-frame::before {
    top: 0;
    left: 0;
}
