#single-player-iframe {
    height: 290px;
}

@media (min-width: 576px) {
    #single-player-iframe {
        height: 270px;
    }
}

@media (min-width: 768px) {
    #single-player-iframe {
        height: 371px;
    }
}

@media (min-width: 992px) {
    #single-player-iframe {
        height: 506px;
    }
}

@media (min-width: 1200px) {
    #single-player-iframe {
        height: 608px;
    }
}

@media (min-width: 1680px) {
    #single-player-iframe {
        height: 743px;
    }
}

