
body .demo-detail .code-example {
    margin-top: 0;
}

#player {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .player-col {
        float: left;
    }

    .code-col {
        float: right;
    }
}

@media (max-width: 991px) {
    .sdk-wrapper-body {
        flex-direction: column;
    }
}

.detection {
    font-size: 18px;
}

#available-drm-systems {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: #fff;
    border: none;
    outline: none;
}

.browser-icon,
#available-drm-systems {
    font-size: 1.5em;
}

.code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.code ul li {
    font-size: 1.1em;
}

.code ul li.supported, .yes {
    color: rgb(0, 148, 227);
}

.code ul li.unsupported, .no {
    color: rgb(160, 160, 160);
}

.code ul li::before {
    all: unset;
    display: block;
    margin-left: -20px;
    margin-top: 2px;
}

.code ul li.supported::before {
    font-family: FontAwesome;
    color: rgb(0, 148, 227);
    content: "\f058";
}

.code ul li.unsupported::before {
    font-family: FontAwesome;
    color: rgb(160, 160, 160);
    content: "\f056";
}

.code ul li span {
    display: inline-block;
    margin-left: 10px;
    color: rgb(13, 56, 65);
}

.sdk-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    font-family: "averta", sans-serif;
}

.sdk-wrapper-header {
    display: flex;
    flex-direction: column;
}

.sdk-wrapper-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sdk-item {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
}

.sdk-item-content {
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 8px;
}

.sdk-item-url {
    margin-top: 47px;
}

.sdk-wrapper-title {
    font-size: 20px;
    line-height: 23px;
    align-content: left;
    letter-spacing: -4%;
    fill: #505f79
}

.sdk-wrapper-description {
    margin-top: 8px;
    font-size: 15px;
    line-height: 18px;
    align-content: left;
    fill: #505f79
}
